<h1>Sign up here!</h1>

<form action="/auth/signup" method="POST">
<label>Username:
    <input type="text" name="username" />
</label>
<label>Email:
    <input type="email" name="email" />
  </label>
<label>Password: 
    <input type="password" name="password" />
</label>
<button>Sign Up</button>
</form>
<br>
{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}